<h1>Form for searching for a quote</h1>

<div class="ui floating dropdown labeled search icon button">
  <i class="smile icon"></i>
  <span class="text">Select Mood Boost Needed</span>
  <div class="menu">
    <div class="item">adventuresome</div>
    <div class="item">amazeballs</div>
    <div class="item">amazing</div>
    <div class="item">anger</div>
    <div class="item">anxiety</div>
    <div class="item">awkward</div>
    <div class="item">calm</div>
    <div class="item">courage</div>
    <div class="item">depression</div>
    <div class="item">fear</div>
    <div class="item">grief</div>
    <div class="item">heartbroken</div>
    <div class="item">hope</div>
    <div class="item">humor</div>
    <div class="item">inspirational</div>
    <div class="item">joy</div>
    <div class="item">leadership</div>
    <div class="item">loneliness</div>
    <div class="item">love</div>
    <div class="item">motivation</div>
    <div class="item">pain</div>
    <div class="item">patience</div>
    <div class="item">peace</div>
    <div class="item">play</div>
    <div class="item">relaxation</div>
    <div class="item">sadness</div>
    <div class="item">strength</div>
    <div class="item">trust</div>
  </div>
</div>
