<div class="ui two column centered grid">
  <div class="column centered row">
    <h1>Find a quote to accompany you throughout the day!</h1>
  </div>
    <div class="column centered row">
      <div class="ui floating dropdown labeled search icon button" id="qod-search">
        <i class="coffee icon"></i>
        <span class="text" id="qod-dropdown">QOD Categories</span>
          <div class="menu">
            <div class="item" id="qod1" data-value="art">art</div>
            <div class="item" id="qod2" data-value="funny">funny</div>
            <div class="item" id="qod3" data-value="inspire">inspire</div>
            <div class="item" id="qod4" data-value="life">life</div>
            <div class="item" id="qod5" data-value="love">love</div>
            <div class="item" id="qod6" data-value="management">management</div>
            <div class="item" id="qod7" data-value="sports">sports</div>
          </div>
        </div>
      </div>
    <br>
    <br>
    <br>
      <div class="column">
        <div class="column centered row" style="display:none;">
          <img class="ui centered image" id="api-qod-image" src=""/>
            <div id="qod-container" div class="ui segments"></div>
          </div>
        </div>
      </div>
