<div class="ui text stackable raised container segment">
  <% provide("title", "Forgot password") %>
  <h1>Forgot password</h1>

  <div class="ui form" id="forgot-pass-form" method="POST">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <div class="ten column field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div id="forgot-pass-button">
        <%= f.submit "Submit", class: "ui button" %>
      <% end %>
    </div>
  </div>
</div>
