
	<li id=“like-<%= like.id %>”>

		<span class="quote_content">"<%= like.quote_content %>"</span>
	  <br>
		<span class=“quote_author”> -<%= like.quote_author %></span>
	  <span>
			<% if current_user?(like.user) %>
	      <%= link_to "delete", like, method: :delete, data: { confirm: "Are you sure you would like to remove this quote?" } %>
				<% end %>
	  </span>
	</li>
