<h1>Meditation de-mystified</h1>
<div class="ui twelve column stackable grid container">
  <table class="ui stackable celled padded table">
    <thead>
      <tr>
        <th class="three wide">School</th>
        <th class="three wide">Style</th>
        <th class="three wide">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Buddhist Meditation</td>
        <td>Zen Meditation</td>
        <td id="zen">In Japanese, Zazen (坐禅) means “seated Zen”, or “seated meditation”. Traditionally, most people would practice sitting on a bolster(cushion) or mat...
          <div id="zen-deat" class="ui modal">
            <div class="header">Zen Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Buddhist Meditation</td>
        <td>Vipassana Meditation</td>
        <td id="vip">Expand Details
          <div id="vip-deat" class="ui modal">
            <div class="header">Vipassana Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Buddhist Meditation</td>
        <td>Mindfulness Meditation</td>
        <td id="mind">Expand Details
          <div id="mind-deat" class="ui modal">
            <div class="header">Mindfulness Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Buddhist Meditation</td>
        <td>Loving Kindness Meditation</td>
        <td id="love-kind">Expand Details
          <div id="love-kind-deat" class="ui modal">
            <div class="header">Loving Kindness Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Hindu Meditation</td>
        <td>Mantra Meditation</td>
        <td>Placeholder for description</td>
      </tr>
      <tr>
        <td>Hindu Meditation</td>
        <td>Yoga Meditations</td>
        <td>Placeholder for description</td>
      </tr>
      <tr>
        <td>Hindu Meditation</td>
        <td>Self-Enquiry Meditation</td>
        <td>Placeholder for description</td>
      </tr>
      <tr>
        <td>Chinese Meditation</td>
        <td>Taoist Meditation</td>
        <td>Placeholder for description</td>
      </tr>
      <tr>
        <td>Chinese Meditation</td>
        <td>Qigong Meditation</td>
        <td>Placeholder for description</td>
      </tr>
      <tr>
        <td>Christian Meditation</td>
        <td>Contemplative Meditation</td>
        <td>Placeholder for description</td>
      </tr>
      <tr>
        <td>Guided Meditation</td>
        <td>Assisted Meditation</td>
        <td>Placeholder for description</td>
      </tr>
    </tbody>
  </table>
</div>

<script>

  popZen();
  popVip();
  popMind();
  popLove();

</script>
