<h1>Meditation de-mystified</h1>
<div class="ui stackable grid container">
  <table class="ui stackable celled padded table">
    <thead>
      <tr>
        <th class="three wide">School</th>
        <th class="three wide">Style</th>
        <th class="three wide">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Buddhist Meditation</td>
        <td>Zen Meditation</td>
        <td id="zen">In Japanese, Zazen (坐禅) means “seated Zen”, or “seated meditation”. Traditionally, most people would practice sitting on a bolster(cushion) or mat...
          <div id="zen-det" class="ui modal">
            <div class="header">Zen Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Buddhist Meditation</td>
        <td>Vipassana Meditation</td>
        <td id="vip">Expand Details
          <div id="vip-det" class="ui modal">
            <div class="header">Vipassana Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Buddhist Meditation</td>
        <td>Mindfulness Meditation</td>
        <td id="mind">Expand Details
          <div id="mind-det" class="ui modal">
            <div class="header">Mindfulness Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Buddhist Meditation</td>
        <td>Loving Kindness Meditation</td>
        <td id="love-kind">Expand Details
          <div id="love-kind-det" class="ui modal">
            <div class="header">Loving Kindness Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Hindu Meditation</td>
        <td>Mantra Meditation</td>
        <td id="mantra">Expand Details
          <div id="mantra-det" class="ui modal">
            <div class="header">Mantra Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Hindu Meditation</td>
        <td>Yoga Meditations</td>
        <td id="yoga">Expand Details
          <div id="yoga-det" class="ui modal">
            <div class="header">Yoga Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Hindu Meditation</td>
        <td>Self-Enquiry Meditation</td>
        <td id="self">Expand Details
          <div id="self-det" class="ui modal">
            <div class="header">Self-Enquiry Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Chinese Meditation</td>
        <td>Taoist Meditation</td>
        <td id="tao">Expand Details
          <div id="tao-det" class="ui modal">
            <div class="header">Taoist Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Chinese Meditation</td>
        <td>Qigong Meditation</td>
        <td id="qigong">Expand Details
          <div id="qigong-det" class="ui modal">
            <div class="header">Qigong Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Christian Meditation</td>
        <td>Contemplative Meditation</td>
        <td id="contemplate">Expand Details
          <div id="contemplate-det" class="ui modal">
            <div class="header">Contemplative Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Guided Meditation</td>
        <td>Assisted Meditation</td>
        <td id="assist">Expand Details
          <div id="assist-det" class="ui modal">
            <div class="header">Assisted Meditation Description Cont.</div>
              <div class="content">
                <p>Placeholder for more stuff</p>
              </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  

<script>

  modalZen();
  modalVip();
  modalMind();
  modalLove();
  modalMantra();
  modalYoga();
  modalSelf();
  modalTao();
  modalQigong();
  modalContemplate();
  modalAssist();

</script>
