<div class="ui stackable grid">
  <div class="ui eight wide centered column">
    <div class="ui icon large message">
      <i class="book icon"></i>
      <div class="content">
        <div class="header" id="about-header"><h1>
          Into the Archives of nSpired</h1>
        </div>
        <br>
        <p>nSpired off the mat was built with then intent that everyone deserves a sense of peace and tranquility in their daily lives and sometimes even a little extra motivation.  Whenever teaching yoga, I always begin my classes with a quote that students can incorporate into their practice and carry off the mat with them into their day.  That being said, while yoga is not for everyone, a mood booster is beneficial and relatable for most people.</p>
      </div>
    </div>
  </div>
</div>
