// Place all the styles related to the AccountActivations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-header {
  text-align: center;
}

#opening-message.ui.icon.large.message {
  margin-top: 70px;
}
