/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require_tree .
 *= require_self
 */

* {
   font-family: lancelot, serif;
   font-size: 18px;
 }

h1 {
  font-family: lancelot, serif;
  font-size: 42px;
  text-align: center;
}

h3 {
  font-family: lancelot, serif;
  font-size: 22px;
}

#wrapper {
  background-image: url("Waterfall_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1200px;

}

html {
  background: linear-gradient(to bottom right, #a7967a, #808274, #596768);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}


#footer-api-ref {
  width: 66px;
  height: 52px;
}

#footer-img-div {
  float: left;
}

#header-menu {
  background: black !important;
}


#edit-profile-button {
  text-align: center;
}

#create-profile-button {
  text-align: center;
}

#login-button {
  text-align: center;
}

#forgot-pass-button {
  text-align: center;
}

#remove-quote-button {
  text-align: center;
  display: block !important;
}

#register-link {
  text-align: center;
  padding-top: 20px;
}

#copyright {
  text-align: center;
  bottom: 0;
  padding-top: 1.8em;
}

.ui.button {
  font-family: lancelot, serif;
  font-size: 18px;
}

#card-button-holder {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

/*a {
  color: black !important;
}*/
