// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#api-qod {
  max-width: 60%;
  max-height: 60%;
  border-radius: 40px;
}

.ui.heart.rating {
  height: 40px;
  width: 40px;
}

#api-quoteSearch-image.ui.centered.image {
  border: 20px solid #e0e1e2 !important;
  border-radius: 30px;
  box-shadow: 5px 5px 4px 4px rgb(71, 77, 84), 6px 6px 6px 6px rgb(108, 107, 68);
}

#api-qod-image.ui.centered.image {
  border: 20px solid #e0e1e2 !important;
  border-radius: 30px;
  box-shadow: 5px 5px 4px 4px rgb(71, 77, 84), 6px 6px 6px 6px rgb(108, 107, 68);
}

#qod-container.ui.segments {
  background-color: #e0e1e2;
  padding: 10px;
  border-radius: 12px;
}

#api-quoteSearch-container.ui.segments {
  background-color: #e0e1e2;
  padding: 10px;
  border-radius: 12px;
}

#reflection-prompts.ui.segments {
  background-color: #e0e1e2;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 120px;
}
