// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#api-qod {
  max-width: 60%;
  max-height: 60%;
  border-radius: 40px;
}

.ui.heart.rating {
  height: 40px;
  width: 40px;
}

#qod-container.ui.segments {
  background-color: #e0e1e2;
}

#api-quoteSearch-container.ui.segments {
  background-color: #e0e1e2;
}

#reflection-prompts.ui.segments {
  background-color: #e0e1e2;
  padding: 30px;

}
